.container{
    max-width: 1000px;
    padding: 5px;
    margin: 0 auto;
}
.item{
    border: black 2px solid;
    list-style: none;
    flex-basis: calc((100% - 46px) /4);
}
.card-set{
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
}