* {
    box-sizing: border-box;
  }
  
  body {
    width: 1200px;
    background-color:white;
  }
  
  .holder {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 394px;
  }
  
  .holder div:nth-child(1) {
    background-color: red;
    text-align: center;
    flex-grow: 1;
    flex-basis: calc((100%) / 2);
  }
  
  .holder div:nth-child(2) {
    background-color: rgb(89, 89, 218);
    text-align: center;
    order: 4;
    flex-basis: calc((100%) / 3);
  }
  
  .holder div:nth-child(3) {
    background-color: blueviolet;
    text-align: center;
    order: 3;
    flex-basis: calc((100%) / 3);
  }
  
  .holder div:nth-child(4) {
    background-color: rgb(19, 95, 19);
    text-align: center;
    order: 5;
    flex-basis: calc((100%) / 3);
  }
  
  .holder div:nth-child(5) {
    background-color: rgba(231, 231, 32, 0.959);
    text-align: center;
    order: 2;
    flex-grow: 1;
    flex-basis: calc((100%) / 2);
  }