.yoga{
    max-width:  1000px;
    padding: 5px; 
    margin: 0 auto;
   border:black 2px solid ; 
   background-color: white;  
   border-radius:5px; 
   width: 40%; 
   text-align: left; 
   padding: 0; 
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);; 
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}